<p>
	<%= form_for :tweet, url: tweets_path, method: :post do |f| %>
	<%= f.text_field :text %>
	<%= f.submit "Send tweet" %>
	</br>
	</br>
	<%= f.time_select :timer, :default => Time.now %>
	<%= render 'shared/error_messages' %> 
	<% end %>
</p>